
body::-webkit-scrollbar {
    width: 11px;
}

body {
  margin: 0;
  font-family: 'Red Rose' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background:#F4F6F8 ;

}

code {
  font-family: 'Red Rose' !important;
}

 .MuiTypography-body1 {
   font-family: 'Red Rose' !important;
 }
.MuiTypography-h6{
  font-family: 'Red Rose' !important;
}